.customLinkDesign {
    color: rgb(69, 238, 162);
    font-weight: bold;
    font-size: 1.2em;

    margin: 0.5em;

    transition: 0.2s
}

.customLinkDesign:hover {
    cursor: pointer;
    transition: 0.2s;
    color: rgb(59, 198, 136);
}