.registerDesign {
    min-height: 100vh;
    width: 100vw;

    background-image:url(../../../img/background.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contentDesignRegister {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 5em;
    background-color: rgb(46, 46, 46, 0.9); 

    opacity: 0; 
    animation: fadeIn 2s forwards;

}

.titleDesignRegister {
    font-family: 'New System', sans-serif;
    font-family: 'Petyka - Retro Computer___SHORT', sans-serif;
    font-size: 5em;
    color: rgb(69, 238, 162);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}