.postsDesign {
    min-height: 94vh;
    width: 100vw;

    background-image:url(../../../img/posts.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

}

.cardsServiceRoster {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3%;

}

.postTitle {
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.postNameDesign {
    font-family: 'Petyka - Retro Computer___SHORT', sans-serif;
    color: rgb(69, 238, 162);
    font-size: 1.5em;
    padding-bottom: 0.5em;
}