.postsDesign {
    min-height: 100vh;
    width: 100vw;

    background-image:url(../../../img/back.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background-attachment: fixed;

}

.selectedPost{
    width: 100vw;

    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;

}

.containerPostSelected{
    display: flex;
    max-width: 65vw;
    padding: 1.5em;
    background-color: rgb(46, 46, 46, 0.9);
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    font-family: "Roboto Mono", monospace;
    font-size: 1.5vw;
}


.cardsServiceRoster {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3%;

}

.titleDesignPost{
    font-family: 'New System', sans-serif;
        font-size: 6vw;
        color: rgb(69, 238, 162);
        opacity: 0;
        animation: fadeIn 1.5s forwards;
        margin-top: 0.8em;
}

.postTitle {
    font-family: "Roboto Mono", monospace;
    font-size: 1.5vw;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.postNameDesign {
    font-family: 'New System', sans-serif;
    /* font-family: 'Petyka - Retro Computer___SHORT', sans-serif; */
    color: rgb(69, 238, 162);
    font-size: 1.5vw;
    padding-bottom: 0.5em;
    border-bottom: 0.1em dashed rgb(69, 238, 162);
}
