.buttonDesign {
    height: 2.5vw;
    width: 14vw;

    font-family: 'New System', sans-serif;
    /* font-family: 'Petyka - Retro Computer___SHORT', sans-serif; */

    background-color: rgb(69, 238, 162);
    color: black;
    font-weight: bold;
    border: 0.2em solid black;
    border-radius: 0.1em;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;

    transition: 0.2s;
}

.buttonDesign:hover {

    cursor: pointer;
    transition: 0.2s;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    border: 0.2em solid white;
    background-color: rgb(59, 198, 136);
}
