.buttonDesign {
    height: 3em;
    width: 15em;

    font-family: 'New System', sans-serif;
    font-family: 'Petyka - Retro Computer___SHORT', sans-serif;

    background-color: rgb(69, 238, 162);
    color: black;
    font-weight: bold;
    border: 0.2em solid black;
    border-radius: 0.1em;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;

    transition: 0.2s;
}

.buttonDesign:hover {

    cursor: pointer;
    transition: 0.2s;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    border: 0.2em solid white;
    background-color: rgb(59, 198, 136);
}
