.homeDesign {
    min-height: 100vh;
    width: 100%;
    background-image:url(../../../img/home.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    overflow-x: hidden;                                           
}

.titleDesign {
    margin-top: 0.5em;
    /* font-family: 'New System', sans-serif; */
    font-family: 'Petyka - Retro Computer___SHORT', sans-serif;
    font-size: 10em;
    color: rgb(69, 238, 162);

    opacity: 0; 
    animation: fadeIn 2s forwards;
}

.descriptionHomeDesign {
    width: 20em;
    margin-top: 0.7em;
    padding: 1em;
    /* font-family: 'New System', sans-serif; */
    font-family: 'Petyka - Retro Computer___SHORT', sans-serif;
    font-size: 3em;
    color: whitesmoke;
    background-color: rgb(46, 46, 46, 0.9);

    opacity: 0; 
    animation: fadeIn 2s forwards;
}

.subtitleDesign{
    color: rgb(69, 238, 162);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

