.headerDesign {

    min-height:1vw;
    width: 50vw;

    background-color: rgb(46, 46, 46);
    

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;


    transition: 0.3s;
    font-size: 1vw;
    font-family: 'New System', sans-serif;
    /* font-family: 'Petyka - Retro Computer___SHORT', sans-serif; */


    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 3%;
    transition: 0.3s;
    padding: 0.5vw;
    opacity: 0.7;

    border: 0.3em solid rgb(69, 238, 162);
    border-radius: 0.5em;

}


.navigatorDesign {
    display: flex;
    flex-direction: row;
}

.outDesign {
    color: rgb(69, 238, 162);
    font-weight: bold;
    font-size: 1.2vw;
    margin: 0.5em;
    margin-left: 0.5em;
    

    transition: 0.2s
}

.outDesign:hover {
    cursor: pointer;
    transition: 0.2s;
    color: rgb(59, 198, 136);
}
