.headerDesign {

    height:4vh;
    width: 100vw;

    background-color: rgb(260, 260, 260);

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.3s;
    overflow-x: hidden;

}

.headerScroll {
    transition: 0.3s;
    opacity: 0;
    color: rgb(220, 160, 80);
}

.navigatorDesign {
    display: flex;
    flex-direction: row;
}

.outDesign {
    color: #EF6B6B;
    font-weight: bold;

    margin: 1em;

    transition: 0.3s;
}

.outDesign:hover {
    transition: 0.3s;
    color: #ea4848;
    cursor: pointer;
}
