.userDesign {

    min-height: 94vh;
    width: 100vw;

    background-image: linear-gradient(to right, #5b5b5b , #484848,  #212121);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.error {
    height: 1em;
    color: red;
}

.cardsRosterAdmin{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    animation: fadeIn 1.5s forwards;
    font-family: "Roboto Mono", monospace;
    font-size: 0.9vw;
}